.slider-section .carousel-item img {
  height: 600px;
  object-fit: cover;
}

.introduction-section .intro-card {
  margin: auto;
  width: 100%;
  border: 3px solid grey;
  padding: 10px;
}

.introduction-section .intro-card img {
  height: 462px;
  object-fit: cover;
}

.navbar .container {
  border: 1px solid green;
  border-radius: 10px;
}

.document-section img {
  height: 400px;
  object-fit: cover;
}

.interview-section .card {
  box-shadow: 0px 0px 10px red;
}


.document-section .card {
  box-shadow: 0px 0px 10px green;
}

 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.heading .container img{
  object-fit: cover;
  /* width: auto; */
}

/* Centered text */
.heading .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.heading h1,
.heading h3 {
  text-shadow: 0px 0px 10px black;
}

.gallery-section img {
  object-fit: cover;
  height: 300px
}

.gallery-section .card {
  box-shadow: 0px 0px 10px blueviolet;
}