* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
/*----------------------------Menu Section----------------------------*/
.top-menu-section {
    background: skyblue;
    padding: 20px 0px;
}

.top-menu-section .nav-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-menu-section .nav-bar-right h1{
    font-family: "Playwrite DE SAS", cursive;
    font-size: 30px;
    color: purple;
}

.top-menu-section .nav-bar-left {
    font-family: "Bitcount Grid Single", system-ui;
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

.top-menu-section .nav-bar-left li{
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}

.top-menu-section .nav-bar-left a {
    text-decoration: none;
}

.top-menu-section .nav-bar-left a:hover {
    background: rgb(106, 213, 255);
    padding: 29px 10px;
}
/*----------------------------Individual Section----------------------------*/

.individual-info-section {
    padding: 40px 0px;
}

.individual-info-section .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.individual-info-section .left-column{
    text-align: center;
}

.individual-info-section .left-column h4 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.individual-info-section .left-column p {
    max-width: 330px;
    padding-left: 186px;
}


.individual-info-section .left-column img {
    width: 40%;
    border-radius: 50%;
    border: 4px solid black;
}

.individual-info-section .right-column {
    padding-top: 70px;
}

/*----------------------------Mission&Vission Section----------------------------*/

.mission-vision-section {
    text-align: center;
    padding: 20px 0px;
}

.mission-vision-section .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*----------------------------Service Section----------------------------*/

.service-section {
    text-align: center;
    padding: 20px 0px;
}

.service-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*----------------------------Client Feedback Section----------------------------*/

.client-feedback-section {
    padding: 30px 0px;
}

.client-feedback-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-feedback-section .content {
    text-align: center;
    border: 1px solid black;
    max-width: 330px;
}

.client-feedback-section img {
    width: 90%;
}

.client-feedback-section .content p{
    max-width: 300px;
    padding-left: 14px;
}




